.register-list-item {
  position: relative;
  padding: 15px;
}
.register-list-item > button {
  position: absolute;
  top: 0;
  right: 0;

  color: inherit;
  font-size: 18px;
  transition: all 0.5s;
}

.register-list-item > button:active {
  transform: translateY(10px);
}

.register-list-item > h2,
h3,
p {
  margin: 5px;
}
